* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-style: normal;
  text-overflow: ellipsis;
}
.clearFix::after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
}
@media (max-width: 675px) {
  header .moblie {
    display: block !important;
    float: right;
    margin-top: 40px;
  }
  header input {
    display: none;
  }
  header .logo {
    margin: 0 auto;
    align-items: center;
  }
  section .total {
    display: none;
  }
  section .news .smCarousel {
    width: 100%;
    height: 100%;
  }
  section .news .right {
    margin-top: 333px;
    width: 106%;
  }
  section .news .right li .text {
    overflow: hidden;
  }
  section .news .right li .text h5 {
    font-size: medium;
  }
  section .news .right li .text p {
    word-wrap: break-word;
    width: 322px;
  }
  section #swrap .container img {
    display: none;
  }
  section .accordion {
    display: block !important;
    margin-top: 555px;
  }
}
header {
  position: relative;
}
header .logo {
  margin-top: 18px;
  margin-bottom: 18px;
  width: 288px;
  height: 88px;
  cursor: pointer;
}
header input {
  float: right;
  margin-top: 66px;
  text-overflow: ellipsis;
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: darkgray;
  background-image: url(img/search.svg);
  cursor: pointer;
  background-position: 148px;
  background-repeat: no-repeat;
  background-size: contain;
}
header p {
  position: absolute;
  top: 8px;
  right: 11px;
  float: right;
}
header p a {
  color: darkolivegreen !important;
  text-decoration: none !important;
}
header .moblie {
  display: none;
}
section .total {
  background-color: #014e7d;
}
section .total .container label {
  font-size: 18px;
  font-weight: 300;
  line-height: 55px;
  color: white;
  padding: 5px 30px;
}
section .total .container label a {
  text-decoration: none;
  color: white;
}
section .news {
  position: relative;
}
section .news .more {
  float: right;
  font-weight: 400;
  color: darkgray;
  text-decoration: none;
}
section .news .right {
  position: absolute;
  right: 1px;
  top: 66px;
}
section .news .right li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
  margin-bottom: 22px;
}
section .news .right li .date {
  margin-right: 11px;
  padding-right: 11px;
  text-align: center;
  border-right: 1px solid;
  border-color: darkgray;
}
section .news .right li .date h3 {
  color: skyblue;
}
section .news .right li .date span {
  color: gray;
}
section .news .right li .text {
  width: 555px;
}
section .news .right li .text h5 {
  font-weight: 400;
  color: black;
}
section .news .right li .text p {
  word-wrap: break-word;
  font-weight: normal;
  color: darkgray;
  overflow: hidden;
  font-size: 16px;
}
section .news .right li:hover .text h5 {
  color: #014e7d;
}
section .news .right li:hover .text p {
  color: #014e7d;
}
section .news .right li:nth-last-child(0) {
  margin-bottom: 0;
}
section .bigCarousel {
  margin-bottom: 66px;
}
section .smCarousel {
  width: 666px;
  height: 444px;
}
section .smCarousel h5 {
  font-weight: 800;
}
section #swrap {
  background-color: #f5f5f5;
  margin-top: 44px;
}
section #swrap .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section #swrap .container img {
  padding: 1px;
  margin: 1px;
  margin-bottom: 55px;
  transition: all 0.3s ease;
}
section #swrap .container img:hover {
  transform: scale(1.1);
}
section .accordion {
  display: none;
}
footer {
  background-color: #014e7d;
  height: 222px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .box1 {
  margin-top: 48px;
  text-align: center;
}
footer .container .box2 {
  margin-top: 48px;
  text-align: center;
}
footer .container .box3 {
  margin-top: 48px;
  text-align: center;
}
